 <div class="app-wrapper">

    <!-- header start -->
    <app-header></app-header>
    <!-- header end -->

    <!-- sidebar start -->
     <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <app-sidebar></app-sidebar>
     </aside>
    <!-- sidebar end -->

 
    <!-- Main start -->
    <main class="app-main">
        <router-outlet></router-outlet>     
    </main>
    <!-- Main end -->

 
    <!-- footer start -->
     <app-footer></app-footer>
    <!-- footer end -->

    
 </div>
